include LICENSE
include README.md
include pyproject.toml
include bench.py
include .pre-commit-config.yaml

recursive-include tests *.py
recursive-include examples *.py
recursive-include docs *.md *.yml

global-exclude __pycache__
global-exclude *.py[cod]
